.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 20px;

    
}
#copy,#generate{
    background-color: #D79145;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 40px;
    color:black;
    cursor: pointer;
}
#copy:hover{
 transform:scale(1.1) ;
}
#generate:hover{
 transform:scale(1.1) ;

}

