.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:linear-gradient(black,lightyellow);
}
.main-container{
   box-shadow: 0 0 5px gray;
   background-color:rgb(68, 64, 64) ;
    padding: 60px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    height: 85%;
    /* justify-content: center; */
    /* align-items: center; */

}
.customization{
    display: flex;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 20px;
    color: antiquewhite;
}
.left-side,.right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.number,.symbol,.lower,.upper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.range{
    display: flex;
}
#range-no{
    background-color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 15px;

}
#range{
    width: 100%;
    background-color: rgb(70, 97, 121);
    padding: 10px;
}
#input{
    padding: 10px;
    width: 100%;
    position: relative;
    color: black;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-size: 18px;

}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon{
    font-size: 24px;
    color: rgb(180, 178, 178);
    background-color: #D79145;
    padding: 10px;
    
}
#icon:hover{
    transform: scale(1.1);
}
h1,h3{
    color: rgb(253, 255, 254);
}
@media only screen and (max-width: 510px) {
    .main-container{
        box-shadow: 0 0 5px gray;
        background-color:rgb(68, 64, 64) ;
         padding: 30px;
         border-radius: 40px;
         display: flex;
         flex-direction: column;
         height: 85%;
         /* justify-content: center; */
         /* align-items: center; */
     
     }
 
     h1,h3{
         color: rgb(253, 255, 254);
         font-size: 20px;
     }
    
}
@media only screen and (max-width:460px){
    .main-container{
        box-shadow: 0 0 5px gray;
        background-color:rgb(68, 64, 64) ;
         padding: 30px;
         border-radius: 40px;
         display: flex;
         flex-direction: column;
         height: 80%;
         width: 80%;
         /* justify-content: center; */
         /* align-items: center; */
     
     }
     .customization{
         display: flex;
         flex-direction: column;
         /* justify-content: center; */
         /* align-self: center; */
         gap: 20px;
         color: antiquewhite;
     }
     .left-side,.right-side{
         display: flex;
         flex-direction: column;
         gap: 20px;
     }
     .number,.symbol,.lower,.upper{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .range{
         display: flex;
     }
     #range-no{
         background-color: aliceblue;
         font-size: 12px;
         padding: 10px;
         cursor: pointer;
         /* font-weight: 15px; */
     
     }
     #range{
         width: 100%;
         background-color: rgb(70, 97, 121);
         padding: 5px;
     }
     #input{
         padding: 10px;
         width: 100%;
         position: relative;
         color: black;
         text-shadow: 0 0 5px rgb(255, 255, 255);
         font-size: 11px;
     
     }
     .input-field{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     #icon{
         font-size: 15px;
         color: rgb(180, 178, 178);
         background-color: #D79145;
         padding: 10px;
         
     }
     #icon:hover{
         transform: scale(1.1);
     }
     h1,h3{
         color: rgb(253, 255, 254);
         font-size: 12px;
     }
}

@media only screen and (max-width: 400px) {
    .main-container{
        box-shadow: 0 0 5px gray;
        background-color:rgb(68, 64, 64) ;
         padding: 30px;
         border-radius: 40px;
         display: flex;
         flex-direction: column;
         height: 85%;
         /* justify-content: center; */
         /* align-items: center; */
     
     }
 
     h1,h3{
         color: rgb(253, 255, 254);
         font-size: 13px;
     }
    
}
@media only screen and (max-width:315px){
    .main-container{
        box-shadow: 0 0 5px gray;
        background-color:rgb(68, 64, 64) ;
         padding: 30px;
         border-radius: 40px;
         display: flex;
         flex-direction: column;
         height: 80%;
         width: 80%;
         /* justify-content: center; */
         /* align-items: center; */
     
     }
     .customization{
         display: flex;
         flex-direction: column;
         /* justify-content: center; */
         /* align-self: center; */
         gap: 5px;
         color: antiquewhite;
     }
     .left-side,.right-side{
         display: flex;
         flex-direction: column;
         gap: 20px;
     }
     .number,.symbol,.lower,.upper{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .range{
         display: flex;
     }
     #range-no{
         background-color: aliceblue;
         font-size: 12px;
         padding: 10px;
         cursor: pointer;
         /* font-weight: 15px; */
     
     }
     #range{
         width: 100%;
         background-color: rgb(70, 97, 121);
         padding: 5px;
     }
     #input{
         padding: 10px;
         width: 100%;
         position: relative;
         color: black;
         text-shadow: 0 0 5px rgb(255, 255, 255);
         font-size: 11px;
     
     }
     .input-field{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     #icon{
         font-size: 15px;
         color: rgb(180, 178, 178);
         background-color: #D79145;
         padding: 10px;
         
     }
     #icon:hover{
         transform: scale(1.1);
     }
     h1,h3{
         color: rgb(253, 255, 254);
         font-size: 12px;
     }
}